# Pandas

- Pandas is a Python library used for working with data sets.
- It has functions for analyzing, cleaning, exploring, and manipulating data.
- The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

```bash
pip install pandas
```

In [1]:
import pandas as pd

data = {
'nama':['ayaka','ayato','lumine'],
'vision':['cryo','hydro','none']
}
dataframe = pd.DataFrame(data)
print(dataframe)

     nama vision
0   ayaka   cryo
1   ayato  hydro
2  lumine   none

In [2]:
print(pd.__version__)

1.4.3

## Pandas Series

- A Pandas Series is like a column in a table.
- It is a one-dimensional array holding data of any type.

In [3]:
a = [6, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    6
1    7
2    2
dtype: int64

In [4]:
# return value by an index
print(myvar[0])

6

In [5]:
a = [6, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    6
y    7
z    2
dtype: int64

In [6]:
# return value by an index
print(myvar["y"])

7

### Key/Value Objects as Series

In [7]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [8]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

## Pandas DataFrame

- A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

![rows-columns](https://oneminuteenglish.org/wp-content/uploads/2021/06/I-like-white-wine-in-particular-38-1024x576.png)

In [9]:
data = {
'nama':['ayaka','ayato','lumine'],
'vision':['cryo','hydro','none']
}
df = pd.DataFrame(data)
print(df)

     nama vision
0   ayaka   cryo
1   ayato  hydro
2  lumine   none

### Locate Row

In [10]:
print(df.loc[0])

nama      ayaka
vision     cryo
Name: 0, dtype: object

In [11]:
# locate row 0 and 2
print(df.loc[[0,2]])

     nama vision
0   ayaka   cryo
2  lumine   none

### Named Indexes

In [12]:
df = pd.DataFrame(data, index = ['char1','char2','char3'])
print(df)

         nama vision
char1   ayaka   cryo
char2   ayato  hydro
char3  lumine   none

In [13]:
# locate char1
print(df.loc['char2'])

nama      ayato
vision    hydro
Name: char2, dtype: object